#Cmake Stuff
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile

#test stuff
CTestTestfile.cmake
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
Testing/Temporary/LastTestsFailed.log

#Binary output
bin/
lib/
build/

